body{
    background-image: linear-gradient(black,grey);
    font-family:'Lato', sans-serif;
}

.titlesection{
    background-image: linear-gradient(#008080,#12c2c2);
    font-family: 'Merriweather', serif;
    line-height: 1.5;
}

.titletext{
    text-align: center;
}

.lastepoch{
    padding-top:.25rem;
    padding-right:.25rem;
    max-width: 100%;
    max-height: 100%;
    width:auto;
    height: auto;
    display: inline;
}

.navbar{
    padding-bottom: 1.5rem;
    font-size: 1.25rem;
}

.navbar-brand{
    margin-left: 1rem;
    color: grey;
    font-family:'Lato', sans-serif;
    font-size: 2rem;
}


.navbar-dark .navbar-brand{
    color: grey;
}

#brandtitle{
    font-family: 'Lato', sans-serif;
    font-size: 5rem;
    text-align: center;
}

h2{
    font-size: 3rem;
    line-height: 1.5;
}

h3{
    font-weight: bold;
}


.rpgnav{
     padding: 2% 1%; 
}

.sellingpoint{
    background-image: linear-gradient(#008080,#12c2c2); 
    padding-top: 4rem;
    padding-bottom: 4rem;
    text-align: center;
    margin: 0% 1%;
}


.fas{
    color: rgb(173, 41, 63);
    padding-bottom: 3%;
}

.fas:hover{
    color:rgb(218, 218, 15);
}

.game-selection{
    background-image: linear-gradient(#008080,#12c2c2);
    text-align: center;
    margin: 2% 1%;
}

.ARPG-pic{
    width: 25%;
    height: 25%;
    border-radius: 100%;
}

.grim{
    width: 30%;
    height: 15%;
    border-radius: 100%;
}

.cardprecursortext{
    text-align: center;
    color: #12c2c2;
    margin-bottom: 30px;
}

.cardheadertext{
    text-align: center;
    color:black;
}

.proconlist{
    text-align: center;
}

.proconepoch{
    background-image: linear-gradient(to right,#4c0388,#8d05fd);
}

.procondiablo{
    background-image: linear-gradient(to right, #111111,#878788);
}

.procondawn{
    background-image: linear-gradient(to right, #860808,#f80303);
}

.proconpath{
    background-image: linear-gradient(to right, #7e3104,#fd6106);
}